@font-face {
    font-family: 'Courier';
    src: url('../../assets/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Courier';
    src: url('../../assets/fonts/CourierPrime-Bold.ttf') format('truetype');
    font-weight: bold;

}